
*,::after,::before{
	box-sizing:border-box}
body,html {
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
	font-family: 'lato';
	font-size: 16px;color:#333;
}
body {
	padding-top: 2rem
}
p {
	text-align: center;
	font-family: 'lato';
}

.quiz-results,
.overlay,
.game-area,
.introduction {
	max-width: 38em;
	margin: 2em auto 0;
}
.game-area h1,
.overlay h1 {
	font-family: 'lato';
	font-size: 3em;
	text-align: center;
	height: 4em;
	padding: 0;	
}
.introduction h1 {
	font-family: 'Quicksand';
	font-weight: 400;
	font-size: 3em;
	text-align: center;
	height: 4em;
	padding: 0;
}
.introduction p {
	text-align: center; 
	font-size: 1.8em;
	font-family: 'Quicksand';
}
.game-area p,
.game-area h2,
.overlay p,
.quiz-results p {
	text-align: center;
	font-size: 2em;
	font-family: 'Quicksand';
}

.quiz-intro,
.quiz-options,
.quiz-question {
	background-color: #fff;
}
.quiz-intro {

	height: 9em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	position: absolute;
	line-height: 4rem;
}
.introduction .NCAA{
	text-align: center;
}
/*------------------------------------------
                   Game Area 
--------------------------------------------*/
.game-area {
	position: relative;
	display: none;
}
.wrapper--content {
	width: 43.75rem;
	margin: 0 auto;
	position: relative;
}
.quiz-details {
	padding: 2rem 3rem 3rem;
}
.quiz-details {
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	padding: 0 0 1rem;
}
.game-area h2,
#current-question {
	padding-top: 0.8em;
	text-align: center; 
	font-size: 1.8em;
	font-family: 'Quicksand';
}
.game-area h2 {
	font-weight: 300;
}
#current-question-number,
#current-question {
	text-align: center;
}
.quiz-options {
	display: inline-block;
	flex-wrap: wrap;
}
#user-choice {
	text-align: center;
	padding: 1em;
}
/*------------------------------------------
                   Overlay Section
--------------------------------------------*/
.overlay {
	z-index: 1000;
	display: none;
	border-radius: 3px;
	margin-top: -18px;	
}
.overlay p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	color: #626f77;
	padding-left: 22px;
	padding-right: 22px;
}
.overlay img {
	float: left;
	margin-right: 10px;
}
.overlay .images {
	text-align: center;
}
#image {
	
}
/*------------------------------------------
                   Results Section
--------------------------------------------*/
.quiz-results {
	
	border-radius: 100%;
	z-index: 10;
	text-align: center;
}
.quiz-results h1 {
	font-family: 'Quicksand';
	font-size: 2.5em;
	text-align: center;
	
}
#user-rating {
	color: #f15a29;
}
#correct-answer {
	display: block;
}
/*------------------------------------------
                   Buttons 
--------------------------------------------*/
.user-submit,
.user-next,
.user-start,
.user-start-over {
	text-align: center;
}
#start,
#answer-submit,
#next,
#start-over {
	border-radius: 1em;
	width: 10em;
}

.quiz-options > button {
	background-color: #ebebeb;
	border-bottom: #fff 1px solid;
	border-left: #fff 1px solid;
	border-top: #fff 1px solid;
	border-right: #fff 1px solid;
	width: 21.775em;
	height: 6em;
	transition: all .5s ease-in-out;
	text-align: center;
	font-size: 1em;
	font-family: 'lato';
}
.quiz-options > button:hover {
	background-color: #f15a29;
	color: #fff;
	cursor: pointer
}
button {
	border: none;
	background-color: #f15a29;
	color: #fff;
	border-radius: 0;
	line-height: 2rem;
	padding: 0 1rem;
	text-align: center;
	position: relative;
	margin: 0 auto
}
button:hover {
	background-color: #d9400e;
	cursor: pointer;
}
button.disabled { 
	background-color: #ebebeb;
	color: #d2d2d2;
}
